Draft3.R
Draft3.html
Draft3.log
Draft3.pdf
Draft3.tex
mathml.Rproj
Draft2.R
Draft2.html
Draft2.log
Draft2.tex
Draft2.knit.md
RJwrapper.log
RJwrapper.tex
motivation-letter.md
quokka/
.Rproj.user
.Rhistory
Draft3.knit.md
RJwrapper.pdf
.Rproj.user
.RData
._Draft3.html
.DS_Store
._.DS_Store
._mathml.Rproj
